h1 {
    font-size: 40px;
    padding-top: 21px;
    margin-bottom: 0px !important;
}

.data-input {
    margin: 35px;
    background-color: whitesmoke;
}

mat-tab-group {
    color: darkgray !important;
}

.Info {
    margin: 15px;
}

mat-tab-group {
    background-color: #2e2a2a;
}

.button>* {
    margin: 5px 15px;
    width: 5%;
}

.studentCard {
    margin: 40px;
    background-color: whitesmoke;
    color: black;
    font-size: 15px;
}